<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article, loop : ${articleList}">
            <td class="text-center" th:text="${loop.count}"></td>
            <td class="text-start">
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.subject}"></a>
            </td>
            <td><span th:if="${article.author != null}" th:text="${article.author.username}"></span></td>
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/article/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>
